/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.title {
    text-align: center;
}

.left-container {
    width: 15%;
    float: left;
    margin-left: 20%;
}

.settings-select {
    width: 10em;
    /* background-color: white; */
}

.board {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    row-gap: 2px;
    margin: 0 50% 0 50%
}

.rows {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.submit{
    margin: 2em 0 0 0;
    width: 10em;
    justify-self: right;
}

.prefilled {
    color:black;
    /* border: 1px solid blue */
}

.new-game-btn {
    margin: 0 0 0 2em;
}
/* 
.left-edge{
    border-left: 2px !important;
    border-left-color: black !important;
} */

input {
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: large;
    color: blue;
    /* border: none; */
}

input:focus {
    outline: none;
}

