/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.board {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(9, 10px);
    column-gap: 20px;
}

input {
    width: 2em;
    height: 2em;
    text-align: center;

}

button {
    width: 20em;
}