/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.liveyourlife {
    display: flex
}

.title {
    text-align: center;
}

.left-container {
    width: 25%;
    margin-top: 3em;
    margin-left: 15%;
    margin-right: 5%
}

.settings-select {
    width: 8em;
}

.board {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    margin: 0 50% 0 50%
}

.rows {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-color: #337ab7;
    border-left-style: solid;
    border-right-style: solid;
}

.top-row {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #337ab7;
}


.bottom-row {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #337ab7;
}

.submit{
    margin: 2em 0 0 0;
    width: 10em;
    justify-self: right;
}

.prefilled {
    color:black;
    font-style: oblique;
    font-weight: 700;
}
.new-game-btn {
    margin: 0 0 0 1em;
}

input {
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: large;
    color: rgb(6, 3, 192);
    border-style: solid;
    border-width: 1px
}

input[id^='0'], input[id^='3'], input[id^='6'] {
    border-top-color: #337ab7;
    border-top-width: 2px;
}

input[id^='2'], input[id^='5'], input[id^='8'] {
    border-bottom-color:#337ab7;
    border-bottom-width: 2px
}

input[id$='0'], input[id$='3'], input[id$='6']{
    border-left-color:#337ab7;
    border-left-width: 2px
}

input[id$='2'], input[id$='5'], input[id$='8']{
    border-right-color: #337ab7;
    border-right-width: 2px
}

input:focus {
    outline: none;
}

